.boutons_menu {
    float: left;
    display: block;
    padding: 8px;
    background-color: #7a4b4b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


li {
    float: left;
    display: block;
    padding: 14px 16px;
    background-color: rgb(163, 56, 29);
}

.navbar li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar li a:hover {
    background-color: rgb(63, 38, 21);
}