* {
    box-sizing: border-box;
    color: whitesmoke;
}

header {
    position: static;
    font-family: Roboto;
    text-align: center;
    color: wheat;
}

.subtitle {
    color: rgb(247, 227, 173);
}

.italic {
    font-style: italic;
}


body {
    background-color: rgb(41, 41, 41);
    background-image: url("https://cdn.pixabay.com/photo/2015/10/17/17/14/background-992850_960_720.png");
}

p {
    font-family: Palatino, Arial, Helvetica;
    color: wheat;
}

.topnav {
    background-color:rgb(26, 21, 17);
    overflow: hidden;
    width: 100%;
    height: auto;
}
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 19%;
    height: auto;
  }

  
.topnav a:hover {
    background-color: #ddd;
    color: black;
    padding: 1%;
  }
  
.topnav a.active {
    background-color: #ce9c3f;
    color: white;
    max-width: 100%;
  }



.row:after {
    content: "";
    display: table;
    clear: both;
}

.socm{
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

.footer img{
    height: auto;
    max-width: 250px;
    float: left;

}

.column {
    float: left;
    width: 48%;
    padding: 1%;
    max-width: 100%; 
}  

.column p {
    text-align: center;
}

.column h2 {
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica;
}

.column button {
    text-align: center;
    border-radius: 6px;
    border-width: 3px;
    padding: 10px 22px;
    font-size: 16px;
    font-weight: bold;
    background-color: #ce9c3f;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mtext {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


h1 {
    border: 2px brown;
}


.font-optima {
    font-family : optima, Arial, Helvetica, sans-serif;
}

.responsive {
    width: 100%;
    height: auto;
  }

.column img{
    max-width: 440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ligne {
    border-top: 3px;
    width: 20%;
    background-color: orangered;
    size: 8px;
}